/*	Basic page/text setup
	--------------------------------- */

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li
{
	margin:0;
	padding:0;
}
body
{
	font-size:100%;
	font-family:Helvetica, Arial, sans-serif;
	width:100%;
	min-width:600px;
	font-size:100%;
	color:#444;
}
a
{
	color:#6A737D;
	-webkit-transition:color .3s ease;
	-moz-transition:color .3s ease;
	transition:color .3s ease;
}
a:hover
{
	color:#555C65;
}
p
{
	font-size:1em;
	line-height:1.5;
	margin:1.5em 0;
}
ol, ul
{
	padding-left:2em;
	margin:1.5em 0;
}
li
{
	font-size:1em;
	line-height:1.5;
}
h1
{
	font-size:2.25em;
	line-height:1.3333333333333333;
}
h2
{
	font-size:1.75em;
	line-height:1.7142857142857142;
}
h3
{
	font-size:1.5em;
	line-height:1;
}
h4
{
	font-size:1.375em;
	line-height:1.0909090909090908;
}
h5
{
	font-size:1.25em;
	line-height:1.2;
}
h6
{
	font-size:1.125em;
	line-height:1.3333333333333333;
}
small
{
	font-size:0.6875em;
	line-height:2.1818181818181817;
}
cite, small
{
	display:block;
}


/*	Column wrappers
	--------------------------------- */
#bass-logo
{
	width:97px;
	height:114px;
	text-indent:-9999px;
	padding:0;
	line-height:1;
	display:block;
	clear:left;
	float:left;
	margin:20px 7px 10px 7px;
	background:url("logo.png");
	opacity:.1;
	-webkit-transition:opacity 2s ease;
	-moz-transition:opacity 2s ease;
	transition:opacity 2s ease;
}
#bass-logo:hover
{
	opacity:1;
	-webkit-transition:opacity .3s ease;
	-moz-transition:opacity .3s ease;
	transition:opacity .3s ease;
}
#wrapper, #wrap-right, #options
{
	position:relative;
	float:left;
}
#wrapper
{
	clear:both;
	width:100%;
	overflow:hidden;
	background:#26292C;
}
#wrap-right
{
	width:200%;
	left:300px;
	background:#fefefe url(bkg.gif);
}
#wrap-left
{
	float:right;
	width:50%;
	position:relative;
	right:300px;
	padding-bottom:1em;
}
#content
{
	margin:10px 10px 0 310px;
	position:relative;
	right:100%;
	overflow:hidden;
	background:-webkit-repeating-linear-gradient(top, transparent 0, transparent 23px, #ededed 23px, #ededed 24px);
	background:-moz-repeating-linear-gradient(top, transparent 0, transparent 23px, #ededed 23px, #ededed 24px);
}
#options
{
	width:300px;
	right:300px;
}

/*	Forms
	--------------------------------- */
#code
{
	height:170px;
	position:relative;
	color:#ffe9c5;
	resize:none;
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}
#code:focus
{
	outline:none;
	background:#2F3337;
}
#code::-webkit-scrollbar
{
    width:8px;
}
#code::-webkit-scrollbar-track
{
    background:rgba(0,0,0,.25);
    border-left:1px solid rgba(255, 255, 255, .15);
    box-shadow: -1px 0px 2px rgba(0, 0, 0, .5);
}
#code::-webkit-scrollbar-thumb
{
    background:-webkit-linear-gradient(#e7e7e7, #d8d8d8);
    box-shadow: inset 4px 0px 0px rgba(255, 255, 255, .075);
    border-right:1px solid #26292C; 
}
#code::-webkit-scrollbar-corner, #code::-webkit-resizer, #code::-webkit-scrollbar-button
{ 
    display:none;
    height: 0px;
}

[type="range"], #code, label, #settings, .option-heading
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:300px;
	font-size:12px;
	line-height:18px;
}
[type="range"], #code
{
	border:0;
	border-top:1px solid #3b3f44;
	border-bottom:1px solid #121416;
	display:block;
	background:#2a2d30;
	-webkit-appearance:none;
	-moz-appearance:none;
	padding:.25em 10px;
	margin:0;
}
input, label, #code, .option-heading
{
	float:left;
}
.check
{
	width:272px;
	background:transparent;
	border:0;
}
[type="checkbox"]
{
	float:right;
	position:relative;
	top:5px;
	line-height:18px;
	font-size:24px;
}
label, #settings
{
	border-top:1px solid #2B2E31;
	border-bottom:1px solid #1F2123;
	background:#212426;
	color:#fff;
	text-shadow:0 1px 3px #000;
	text-align:left;
}
.option-heading
{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	border-right:1px solid #26292C;
	background:#e7e7e7;
	background:-webkit-linear-gradient(#e7e7e7, #d8d8d8);
	background:-moz-linear-gradient(#e7e7e7, #d8d8d8);
	text-shadow:0 1px 3px #fff;
	color:#111;
	font-weight:bold;
}
form span:first-child
{
	border-top:0;
}
label, #settings, .option-heading
{
	display:block;
	padding:.5em 10px;
}
label span
{
	float:right;
}
:-moz-any(label) span
{  
	opacity:0; 
}
[type="range"]
{
	background:-webkit-linear-gradient(transparent, transparent 12px, #2F3337 12px, #2F3337 13px, #181A1B 13px, #181A1B 14px, transparent 14px);
	padding-bottom:10px;
	line-height:18px;
	font-size:24px;
	color:#fff;
}
[type='range']::-webkit-slider-thumb
{  
	-webkit-appearance: none;
	background:-webkit-linear-gradient(45deg, #d8d8d8, #e7e7e7);
	width:8px;
	height:8px;
	top:3px;
	right:8px;
	position:relative;
	-webkit-transform:rotate(-45deg);
}